body{
    font-family: Arial,Arial, Helvetica, sans-serif;
    font-size:18px;
    margin:100px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #6200ff;
}

h1{
    text-align: center;
    color: #ffffff;
    background-color: #09218d;
    margin-bottom: 0;
    margin-top: 0;
    border-color: #000000;
    border-style: solid;
}

p{
    text-align: center;
    color: #ffffff;
    background-color: #09218d;
    margin: 0px;
    border-color: #000000;
    border-style: solid;
}

.search-bar {
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;
}

.search-bar input {
    padding: 8px;
    width: 500px;
    border-style: dashed;
    border-radius: 4px;
    border-color: #000000;
}

.search-bar input:hover {
    background-color: #d3d3d3fd;
}

.search-bar button {
    padding: 7px;
    border-style: dashed;
    border-radius: 4px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #000000;
    color: #ffffff;
    border-color: #ffffff;
}

.cabecera{
    width: 1160px;
    height: 486px;
    display: block;
    margin: auto;
    margin-bottom: 0px;
    border-style: dashed;
    border-color: #000000;
    text-align: center;
}

.opciones img{
    width: auto;
    height: 124px;
    border-style: dashed;
    border-color: black;
    border-radius: 6px;
    display: block;
    margin: 0px;
    cursor: pointer;
}

.imagen button{
    border-style: dashed;
    border-radius: 6px;
    margin: 0px;
    cursor: pointer;
}

.imagen button:hover{
    border-color: #ff0000;
}
.opciones img:hover{
    border-color: #ff0000;
}